* {
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    color:white;
    margin:0;
    overflow: hidden;
}

.main{
    height:100vh;
    display: flex;
    padding: 0.5rem;
    background-color: black;
}

.sidebar{
    background-color:black;
    width: 340PX;
    border-radius: 1rem;
    margin: 0.5rem;
}
.main-content{
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.control-panel{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72PX;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    padding: 8px
}

.nav-option{
    height: 40px;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    display: flex;
    opacity: 0.7;
    font-size: 1.25rem;
}

.icons:hover{
    opacity: 1;
}

.icons i{
    margin-right: 1rem;
}

.box{
    height: 5.8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.5rem 0;
    padding: 0.75rem 1rem;
}

.box-P1{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: #232323;

}

.box-P2{
    font-size: 0.85rem;
    opacity: 0.9;
    background-color: #232323;
}

.badge{
    background-color: white;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    border: none;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    color: black;
}

.sticky-nav{
    top: 0;
    position: sticky;
    background-color:#121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons{
    margin-left:0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-left: 1rem;
}

.dark-badge{
    background-color: black;
    color: white;
}

@media (max-width:1000px) {
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 250px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
    background-color: #232323;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
    background-color: #232323;
}

.footer{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    border-top: 1px solid white;
    width: 95%;
    height: 50%;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 8px;
}

.album{
   width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
}

.player-control-icons{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icons:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: #0bf661;
    margin-top: -7px;
}